<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Loan Statement</title>
    <link rel='stylesheet' href='loan-statement-style-sheet.css'/>
</head>
<body>
<div>
    <div class='organization-details'>

        <div class='organization-details-table-container'>
            <table class='organization-details-table'>
                <tr>
                    <td>Mwalimu National</td>
                </tr>
                <tr>
                    <td>P.O. Box 62641 - 00200, Nairobi, Kenya</td>
                </tr>
                <tr>
                    <td>Cell +254 709 898000</td>
                </tr>
                <tr>
                    <td>SMS No. +254 721 270944</td>
                </tr>
                <tr>
                    <td>mwalimu@mwalimunationalsacco.coop</td>
                </tr>
                <tr>
                    <td>www.mwalimusacco.coop</td>
                </tr>
            </table>
        </div>
        <div class='organization-logo-container'>
            <img src='mwalimu_logo_far_better2.png' class='organization-logo' alt='logo'/>
        </div>

    </div>

    <div class='statement-header-container'>

        <div class='account-details'>
            <h3 class='statement-header1'>Loan Statement</h3>
            <h4 class='statement-header2'>[STATEMENT_PERIOD]</h4>
            <hr/>

            <table class='statement-header-account-table'>
                <tr>
                    <td class='statement-header-account-table-label'>Loan Number</td>
                    <td>[LOAN_NUMBER]</td>
                </tr>
                <tr>
                    <td class='statement-header-account-table-label'>Loan Name</td>
                    <td>[LOAN_NAME]</td>
                </tr>

                <tr>
                    <td class='statement-header-account-table-label'>Customer Name</td>
                    <td>[LOAN_CUSTOMER_NAME]</td>
                </tr>
                <tr>
                    <td class='statement-header-account-table-label'>Loan Balance</td>
                    <td>[LOAN_BALANCE]</td>
                </tr>
            </table>
        </div>
    </div>

    <div>
        <table class='statement-header-account-statement'>
            <tr>
                <th class='statement-header-acc-stmnt-date' style='border-left: 1px solid  #72BA10'>Date</th>
                <th class='statement-header-acc-stmnt-description'>Description</th>
                <th class='statement-header-acc-stmnt-amount'>Amount (KES)</th>
                <th class='statement-header-acc-stmnt-balance' style='border-right: 1px solid  #72BA10'>Bal. (KES)</th>
            </tr>
            [THE_LOAN_STATEMENT_DETAILS]
        </table>
    </div>
</div>
</body>
</html>